[Unit]
Description=Erigon2 Downloader - BitTorrent EVM state snapshot downloader
Requires=erigon2.service
Documentation=https://github.com/ledgerwatch/erigon/

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/erigon2
ExecStart=/usr/bin/erigon2-downloader --datadir $ERIGON2_DATADIR $ERIGON2_DOWNLOADER_OPTIONS
ExecReload=/usr/bin/kill -HUP $MAINPID
UMask=0066
Restart=on-failure
User=erigon2
Group=erigon2
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
