[Unit]
Description=Erigon TxPool
Documentation=https://github.com/ledgerwatch/erigon/

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/erigon
ExecStart=/usr/bin/erigon-txpool --datadir $ERIGON_DATADIR $ERIGON_TXPOOL_OPTIONS
ExecReload=/usr/bin/kill -HUP $MAINPID
UMask=0066
Restart=on-failure
User=erigon
Group=erigon
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
