[Unit]
Description=Erigon2 Ethereum Client - A complete Ethereum compatible execution client and RPC endpoint
Requires=network.target
Documentation=man:erigon2(1)
Documentation=https://github.com/ledgerwatch/erigon/

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/erigon2
ExecStart=/usr/bin/erigon2 --datadir $ERIGON2_DATADIR $ERIGON2_OPTIONS
ExecReload=/usr/bin/kill -HUP $MAINPID
UMask=0066
Restart=on-failure
User=erigon2
Group=erigon2
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
